.text p{
    padding: 40px 10px 20px;

}
body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/foto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: #fff;
    font-family: Gabriola;
    font-size: 2vw;
}
.image1 img{
    width: 30vw;
    height: 35vw;
    border-radius: 10px;  /* Скругление углов изображения */
    border: 5px solid #fff; /* Цвет и ширину рамки */
    box-shadow: 2px 1px 5px #999999; /* Цвет и размер тени */
}
.size{
    font-size: 35px;
    text-shadow: 3px 2px black, 0 0 1em black;
}
.font{
    font-style: italic;
    text-shadow: 1px 2px gray, 0 0 1em black;
    font-size: 40px;
}