.text p{
    padding: 40px 10px 20px;

}
body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    color: #fff;
    font-family: Gabriola;
    font-size: 2vw;
}
.size{
    font-size: 35px;
    text-shadow: 3px 2px black, 0 0 1em black;
}
.font{
    font-style: italic;
    text-shadow: 1px 2px gray, 0 0 1em black;
    font-size: 40px;
}
.buttonGallery_1{
    font: bold 23px Gabriola;
    width: 70px;
    position: absolute;
    top: 120%;
    left: 10%;
}
.buttonGallery_2{
    font: bold 23px Gabriola;
    width: 70px;
    position: absolute;
    top: 120%;
    left: 85%;
}
#mainImage
{
    width: 700px;
    display: flex;
    border-radius: 10px;  /* Скругление углов изображения */
    border: 5px solid #fff; /* Цвет и ширину рамки */
    box-shadow: 2px 1px 5px #999999; /* Цвет и размер тени */
    position: relative;
    top: 2vw;
    left: 25vw;

}
.elementImg{
    height: 710px;
}
